<!DOCTYPE html>
<html>
<head>
    <title>About My Forum</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>About My Forum</h1>

    <!-- Links Section -->
    <h2>Quick Links</h2>
    <ul>
        <li>You have the option to <a href="/register">Register</a> with us</li>
        <li>If you're already a member and wish to create a post, simply navigate to the <a href="/newpost">Make a new post</a> page</li>
        <li>Additionally, you can also check out these <a href="/user">Users</a>, <a href="/topic">Topics</a>, and specific <a href="/searchpost">Posts</a> on our platform</li>
    </ul>
</body>
</html>
