<!-- post-list.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Posts</h1>
    <% post.forEach(function(post) { %>
      <p>
        <a href="/post/<%= post.id %>">
          <%= post.text %> - <%= post.topic_name %> - <%= post.user_name %>
        </a>
      </p>
      <br>
    <% }) %>
  </body>
</html>
