<!doctype html>
<html>
  <head>
    <title>Topics listed</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Topics listed</h1>
      <ul>
        <% topic.forEach(function(topic) { %> 
          <li><%= topic.text %> <%= topic.name %></li>
          <br>
          <% }) %>
      </ul>
  </body>
</html>