<!doctype html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
    <h1>Users</h1>
    <ul>
        <% user.forEach(function(user) { %>
            <li>
                <a href="/user/<%= user.id %>">
                    <%= user.text %> <%= user.name %>
                </a>
            </li>
            <br>
        <% }) %>
    </ul>
</body>
</html>
