<!doctype html>
<html>
  <head>
    <title>Existing users</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Existing users</h1>
    <ul>
      <% user.forEach(function(user) { %>
       <li><%= user.text %> <%= user.name %></li>
        <br>
        <% }) %>
      </ul>
  </body>
</html>